@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;

    font-family: 'Roboto';

}
body{
    background-image: url("Group 3.png");
    background-repeat: no-repeat;
}
header{

    margin:1% 5% 0 5%;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header nav nav {
    width: 45%;
    justify-content: space-between;

}
header nav nav a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.btn{
    box-shadow: 0 0 12px 8px #BC28F0,0 0 12px 8px #BC28F0 inset;
    border: 5px solid white;
    padding:20px 42px;

}
p1{

}