@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    background-color:black;
    font-family: 'Roboto';
}
header{

    margin: 1% 5% 0 5%;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header nav nav {
    width: 45%;
    justify-content: space-between;

}
header nav nav a{
    color: white;
    text-decoration: none;
}